Repository holochain/holochain, pull requests merged in 2022-04, with the labels that each got.

#1304 Wasm features
  crates/test_utils/wasm/wasm_workspace/agent_info/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/crd/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/create_entry/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/hash_entry/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/random_bytes/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/sign/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/sys_time/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/validate_link/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/zome_info/src/lib.rs
Labels: tiny

#1298 add external hash type
  crates/hdk/CHANGELOG.md
  crates/hdk/src/hash.rs
  crates/hdk/src/prelude.rs
  crates/holo_hash/src/aliases.rs
  crates/holo_hash/src/hash.rs
  crates/holo_hash/src/hash_b64.rs
  crates/holo_hash/src/hash_type/primitive.rs
  crates/holo_hash/src/tests.rs
  crates/holochain_zome_types/src/hash.rs
  crates/test_utils/wasm/wasm_workspace/Cargo.lock
Labels: hdk

#1308 2022 03 21 compound external
  crates/hdk/CHANGELOG.md
  crates/hdk/src/hash.rs
  crates/hdk/src/hash_path/anchor.rs
  crates/hdk/src/hash_path/path.rs
  crates/hdk/src/link.rs
  crates/hdk/src/prelude.rs
  crates/holo_hash/src/aliases.rs
  crates/holo_hash/src/fixt.rs
  crates/holo_hash/src/hash_b64.rs
  crates/holo_hash/src/hash_type/composite.rs
  crates/holochain/src/core/ribosome/host_fn/get_links.rs
  crates/holochain/src/core/workflow/integrate_dht_ops_workflow/query_tests.rs
  crates/holochain/src/core/workflow/integrate_dht_ops_workflow/tests.rs
  crates/holochain/src/core/workflow/sys_validation_workflow/tests.rs
  crates/holochain/src/test_utils/host_fn_caller.rs
  crates/holochain/tests/agent_scaling/mod.rs
  crates/holochain_cascade/src/authority/get_links_ops_query.rs
  crates/holochain_cascade/src/test_utils/entry_test_data.rs
  crates/holochain_p2p/src/test.rs
  crates/holochain_state/src/query/link.rs
  crates/holochain_state/src/query/link_details.rs
  crates/holochain_state/src/query/test_data.rs
  crates/holochain_state/src/query/tests/links_test.rs
  crates/holochain_types/src/link.rs
  crates/holochain_zome_types/src/fixt.rs
  crates/holochain_zome_types/src/header.rs
  crates/holochain_zome_types/src/header/builder.rs
  crates/holochain_zome_types/src/link.rs
  crates/test_utils/wasm/wasm_workspace/anchor/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/link/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/multiple_calls/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/ser_regression/src/lib.rs
  crates/test_utils/wasm/wasm_workspace/validate_link/src/lib.rs
Labels: hdk

#1268 validation deps async
  Cargo.lock
  crates/hdk/CHANGELOG.md
  crates/holochain/Cargo.toml
  crates/holochain/src/conductor/cell.rs
  crates/holochain/src/core/ribosome.rs
  crates/holochain/src/core/ribosome/host_fn/must_get_entry.rs
  crates/holochain/src/core/ribosome/host_fn/must_get_header.rs
  crates/holochain/src/core/ribosome/host_fn/must_get_valid_element.rs
  crates/holochain/src/core/workflow/app_validation_workflow.rs
  crates/holochain/src/core/workflow/call_zome_workflow.rs
  crates/holochain/src/core/workflow/genesis_workflow.rs
  crates/holochain/src/core/workflow/initialize_zomes_workflow.rs
  crates/holochain_cascade/src/lib.rs
  crates/holochain_p2p/src/lib.rs
  crates/holochain_p2p/src/types/actor.rs
Labels: hdk

#1345 Merge release-20220414.075333 back into develop
  CHANGELOG.md
  Cargo.lock
  crates/hc/CHANGELOG.md
  crates/hc/Cargo.toml
  crates/hc_sandbox/CHANGELOG.md
  crates/hc_sandbox/Cargo.toml
  crates/hdk/CHANGELOG.md
  crates/hdk/Cargo.toml
  crates/holochain/CHANGELOG.md
  crates/holochain/Cargo.toml
  crates/holochain_cascade/CHANGELOG.md
  crates/holochain_cascade/Cargo.toml
  crates/holochain_conductor_api/CHANGELOG.md
  crates/holochain_conductor_api/Cargo.toml
  crates/holochain_deterministic_integrity/CHANGELOG.md
  crates/holochain_deterministic_integrity/Cargo.toml
  crates/holochain_state/CHANGELOG.md
  crates/holochain_state/Cargo.toml
  crates/test_utils/wasm_common/CHANGELOG.md
  crates/test_utils/wasm_common/Cargo.toml
Labels: release

#1348 Merge release-20220421.145237 back into develop
  CHANGELOG.md
  Cargo.lock
  crates/hc/CHANGELOG.md
  crates/hc/Cargo.toml
  crates/hc_bundle/CHANGELOG.md
  crates/hc_bundle/Cargo.toml
  crates/hc_sandbox/CHANGELOG.md
  crates/hc_sandbox/Cargo.toml
  crates/hdk/CHANGELOG.md
  crates/hdk/Cargo.toml
  crates/hdk_derive/CHANGELOG.md
  crates/hdk_derive/Cargo.toml
  crates/holochain/CHANGELOG.md
  crates/holochain/Cargo.toml
  crates/holochain_cascade/CHANGELOG.md
  crates/holochain_cascade/Cargo.toml
  crates/holochain_conductor_api/CHANGELOG.md
  crates/holochain_conductor_api/Cargo.toml
  crates/holochain_deterministic_integrity/CHANGELOG.md
  crates/holochain_deterministic_integrity/Cargo.toml
  crates/holochain_integrity_types/CHANGELOG.md
  crates/holochain_integrity_types/Cargo.toml
  crates/holochain_keystore/CHANGELOG.md
  crates/holochain_keystore/Cargo.toml
  crates/holochain_p2p/CHANGELOG.md
  crates/holochain_p2p/Cargo.toml
  crates/holochain_sqlite/CHANGELOG.md
  crates/holochain_sqlite/Cargo.toml
  crates/holochain_state/CHANGELOG.md
  crates/holochain_state/Cargo.toml
  crates/holochain_types/CHANGELOG.md
  crates/holochain_types/Cargo.toml
  crates/holochain_websocket/CHANGELOG.md
  crates/holochain_websocket/Cargo.toml
  crates/holochain_zome_types/CHANGELOG.md
  crates/holochain_zome_types/Cargo.toml
  crates/test_utils/wasm/CHANGELOG.md
  crates/test_utils/wasm/Cargo.toml
  crates/test_utils/wasm_common/CHANGELOG.md
  crates/test_utils/wasm_common/Cargo.toml
Labels: release

#1355 improve release resilience
  .github/workflows/autorebase.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
Labels: autorebase:opt-in

#1359 feat(github-actions/autorebase): also run on PRs towards develop
  .github/workflows/autorebase.yml
Labels: autorebase:opt-in

#1361 ci(hc-test-slow): build in retry loop
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  nix/pkgs/core.nix
Labels: autorebase:opt-in
